/* Navbar.css */
.navbar {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #555;
    border-radius: 4px;
}
